<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dealership Review</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </head>

  <body style="height: 100vh">
    <!--Add a nav bar here -->
    {% block navbar %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'djangoapp:about' %}"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'djangoapp:contact' %}"
                >Contact</a
              >
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
          <form
            method="POST"
            class="d-flex"
            action="{% url 'djangoapp:login' %}"
          >
            {% csrf_token %} {% if user.is_authenticated %}
            <a class="btn btn-link" href="#">
              {{ user.first_name }}({{ user.username }})
            </a>
            <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">
              Logout
            </a>
            {% else %}
            <input
              id="username"
              name="username"
              class="form-control me-2"
              type="text"
              placeholder="username"
            />
            <input
              class="form-control me-2"
              type="text"
              placeholder="password"
              id="password"
              name="psw"
            />
            <button class="btn btn-primary me-2" type="submit">Login</button>
            <a
              class="btn btn-outline-primary"
              href="{% url 'djangoapp:registration' %}"
            >
              Signup
            </a>
            {% endif %}
          </form>
        </div>
      </div>
    </nav>
    {% endblock %} {% block content %}
    <div class="table-responsive">
      <table class="table" id="table" data-filter-control="true">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Dealer Name</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">Zip</th>
            <th scope="col" data-filter-control="select">
              State
              <!-- 
                <div class="dropdown">
                <button
                  class="btn btn-outline-primary dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  LA
                </button>
                <ul class="dropdown-menu">
                  {% for state in unique_states %}
                  <li><a class="dropdown-item" href="#">{{state}}</a></li>
                  {% endfor %}
                </ul>
              </div>
              -->
            </th>
          </tr>
        </thead>
        <tbody>
          {% for dealer in dealerships%}
          <tr>
            <td>{{dealer.id}}</td>
            <td>
              <a href="{% url 'djangoapp:dealer_details' dealer.id%}"
                >{{dealer.full_name}}</a
              >
            </td>
            <td>{{dealer.city}}</td>
            <td>{{dealer.address}}</td>
            <td>{{dealer.zip}}</td>
            <td>{{dealer.st}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
    {% endblock %}
  </body>
  <script>
    $(function () {
      $("#table").bootstrapTable();
    });
  </script>
</html>